body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(195,34,191);
  background: linear-gradient(85deg, rgba(195,34,191,1) 0%, rgba(144,96,212,1) 36%, rgba(45,217,253,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}
